Ellen T Arena <arenaellen@gmail.com>
Jan Eglinger <jan.eglinger@fmi.ch> <jan.eglinger@gmail.com>
Johannes Schindelin <johannes.schindelin@gmx.de>
Leon Yang <leonyang1994@gmail.com>
Mark Hiner <hiner@wisc.edu> <hinerm@gmail.com>
Robert Haase <rhaase@mpi-cbg.de>
Robert Haase <rhaase@mpi-cbg.de> <haesleinhuepf@users.noreply.github.com>
Stefan Helfrich <stefan.helfrich@uni-konstanz.de> <stefan.helfrich@googlemail.com>
Tiago Ferreira <tiagoalvespedrosa@gmail.com>
